
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.js]
indent_style = tab
indent_size = 4

[*.vue]
indent_style = tab
indent_size = 4

[.prettierrc]
indent_style = tab
indent_size = 4

[.eslintrc.json]
indent_style = tab
indent_size = 4

[deno.json]
indent_style = space
indent_size = 2
